<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Email</th>
    </tr>
    <tr th:each="user : ${users}" th:object="${user}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{lastName}"></td>
        <td th:text="*{email}"></td>
        <td><form th:action="@{/users/edit/{id}(id=${user.id})}">
            <input type="submit" value="Edit">
        </form></td>
        <td><form method="post" th:action="@{/users/delete/{id}(id=${user.id})}">
            <input type="submit" value="Delete">
        </form> </td>
    </tr>
</table>

<br>

<form action="/users/new">
    <input type="submit" value="Add user">
</form>

</body>
</html>