<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>

<form method="post" th:object="${user}" id="create">
    <label for="name">Name: </label><br>
    <input type="text" id="name" th:field="*{name}"><br>

    <label for="lastName">Last name: </label><br>
    <input type="text" id="lastName" th:field="*{lastName}"><br>

    <label for="email">Email: </label><br>
    <input type="email" id="email" th:field="*{email}"><br>
</form>

<form action="/users" id="back"></form>

<br>

<input type="submit" value="Add" form="create">
<input type="submit" value="Back" form="back">

</body>
</html>